 
h2 #{status.state._id}: #{status.state.title}

p Question: #{status.state.question}

p Answers:

each answer in status.state.answers
  ul
    li
      p #{answer._id}: #{answer.text} (#{status.answers[answer._id]})
      p Next: #{answer.next_state}
        button(type='button' onclick='goToState('+answer.next_state+')') Go
