
p Trenutno poglavje:

h2 #{state.title}

if decision_enabled

  - var is_answered = selected_answer != undefined;

  p Čas je za tvojo odločitev:

  p #{state.question}

  ul
    each answer in state.answers
      li
        input(
          type='radio'
          name='answer'
          id='answer-'+answer._id
          value=answer._id
          checked=is_answered && answer._id == selected_answer
        )
        label(for='answer-'+answer._id) #{answer.text}

  p: button#submit_btn(type='button' onclick='submitAnswer()') Pošlji odločitev

else

  p V poteku...
